*{
	font-family:helvetica, arial, "Times New Roman";
	font-size:1.5rem;
	letter-spacing:.5rem;
}

header{
	display:flex;
	justify-content:space-between;
}

h1{
	font-weight:inherit;
	font-style:inherit;
	font-size:inherit;
}

.links{
	display:flex;
	justify-content:flex-end;
}

ul{
	border:solid;
	border-color:brown;
	display:flex;
	flex-direction:column;

}

li{
        list-style:none;
        text-align:right;
	border:solid;
	margin-left:auto;
}

a{
        color:inherit;
        text-decoration:inherit;
}

/*About page*/


p{
	letter-spacing:normal;
	font-size:1.25rem;
	border:solid;
	padding:2rem;
	border-color:brown;
	margin:.5rem;
}

/*Essays*/

.text-body{
	display:flex;
}

.p1{
	flex:2;
	margin-bottom:auto;
}

.p2{
	flex:1;
	order:-1
}
